body { font-family: Arial; margin: 0; background: #f2f2f2; }

header { background: navy; color: white; padding: 10px; text-align: center; }

.logo { width: 40px; vertical-align: middle; }

nav a { color: white; margin: 0 10px; text-decoration: none; }

input, select { padding: 5px; margin: 5px; }

.filters { text-align: center; margin: 10px; }

#eventList { display: flex; flex-wrap: wrap; justify-content: center; }

.card {
    background: white;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

button { padding: 5px 10px; margin-top: 5px; }

.pagination { text-align: center; margin: 10px; }

footer { background: black; color: white; text-align: center; padding: 10px; }
